
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #ff0000;
    font-weight: 500;
    margin-left: 40px;
}

.navigation  .btn-login-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #000000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #00e8f8;
    font-weight: 500;
    margin-left: 190px;
    transition: .5s;
    text-decoration: none;
}

.navigation  .btn-login-popup:hover{
    background: #fff;
    color: #162938;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter:  blur (20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper from-box{
    width: 100%;
    padding: 40px;
}

.from-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position:relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box lebel {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: tarnsfrom .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    accent-color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-sarif';

}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}


.bubbles img {
    width:50px;
    animation: bubble 7s linear infinite;

}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    0%{
        transform: translateY(10);
        opacity:0;
    }

    50%{
        opacity:1;
    }

    70%{
        opacity:1;
    }

    100%{
        transform: translateY(-70vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2) {
    animation-delay: 1s;
}
.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
    animation-delay: 3s;
}
.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;
}
